<phpunit bootstrap="./bootstrap.php" colors="true">

        <testsuite name="TextAnalysis" >
                <directory>./TextAnalysis</directory>
        </testsuite>

        <filter>
                <whitelist>
                        <directory suffix=".php">../../TextAnalysis/</directory>
                </whitelist>
        </filter>


</phpunit>

